body {
  /* background-color: #778899; */
}

hr {
  border-style: none;
  border-top-style: dotted;
  border-color: #778899;
  border-width: 5px;
  width: 5%;
}

h1 {
  color: #66BFBF;
}

h3 {
  color: #66BFBF;
}

/*  Below is how to adjust image sizes in css
 img {
  height: 100px;
      }
*/
